/server/node_modules


/server/public/images/*.png
/server/public/images/*.jpg
/server/public/images/*.jpeg


/my_recipes/node_modules
/my_recipes/.pnp
/my_recipes/.pnp.js

/my_recipes/coverage

/my_recipes/build
/my_recipes/android

/my_recipes/.DS_Store
/my_recipes/.env.local
/my_recipes/.env.development.local
/my_recipes/.env.test.local
/my_recipes/.env.production.local
/my_recipes/.vscode
/my_recipes/.idea

/my_recipes/npm-debug.log*
/my_recipes/yarn-debug.log*
/my_recipes/yarn-error.log*

/my_recipes/.eslintcache
